h1{
	text-align: center;
}

#main{
	display: block;
}

#left{
	display: block;
	text-align: center;
	float: left;
	width: 50%;
}

#right{
	display: block;
	float: left;
	margin-right: auto;
	width: 50%;
}

#instructionBox{
	margin: auto;
	width: 50%;
}

#board{
	border:3px;
	border-style: solid;
	border-color: black;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	display: block;
	float: left;
}

#message{

}